src/card.pug
extends  pug-components/catalog-layout

block crumbs
    .catalog
        .container
            h1.catalog_title Эватор
            .crumbs
                a(class='crumbs_item' href='index.html') Главная
                span.crumbs_arrow
                a(class='crumbs_item' href='catalog.html') Кассовые аппараты
                span.crumbs_arrow
                a(class='crumbs_item' href='') Эватор

            .divider-dashed

block catalog-content
    .card
        .flex_row__between.card_first

            .gallery
                .gallery_current
                    img(src='img/cash1.png')
                .gallery_set.flex_row__between
                    img(class='active' src='img/cash1.png')
                    img(src='img/cash2.png')
                    img(src='img/cash3.png')

            .brief
                h3 Цена кассы
                div
                    button(class='catalog_buy' type='button') 8 120 руб.
                h3 Цена кассы под ключ
                div
                    button(class='catalog_buy' type='button') 16 120 руб.
                .brief_popup
                    button(class='brief_popup__open' type='button') Что входит?
                    .brief_popup__hidden
                        button(class='brief_popup__close' type='button')
                        ul
                          li - Касса
                          li - Усиленная квалифицированная электронная подпись
                          li - Лицензия CryptoPro CSP
                          li - Etoken (сертифицированный носитель)
                          li - Лицензия ОФД «Электронный Экспресс»
                          li - Модернизация ККТ для работы с фискальным накопителем
                          li - Комплекс работ по вводу в эксплуатацию ККТ
                          li - Техническое сопровождение ЦТО в месяц/квартал
                          li - Фискальный накопитель ФН-1
                p Полная установка под ключ <b>дешевле</b>, чем услуги по отдельности

        .tab_wrap
            .tab_title
                .tab_title__item.active Услуги
                .tab_title__item Описание

            .tab_content
                .tab_content__item.option.active
                    span.card_option__title Выберите свой вариант

                    .card_option

                        .checkbox
                            input(id='checkbox-1' type='checkbox' checked disabled)
                            label(for='checkbox-1')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-2' type='checkbox')
                            label(for='checkbox-2')
                                span.card_option__name Усиленная квалифицированная электронная подпись
                                span.card_option__price 81 230 руб.

                        .checkbox
                            input(id='checkbox-3' type='checkbox')
                            label(for='checkbox-3')
                                span.card_option__name Модернизация ККТ для работы с фискальным накопителем
                                span.card_option__price 20 120 руб.

                        .checkbox
                            input(id='checkbox-4' type='checkbox')
                            label(for='checkbox-4')
                                span.card_option__name Усиленная квалифицированная электронная подпись квалифицированная электронная подпись
                                span.card_option__price 1 120 руб.

                        .checkbox
                            input(id='checkbox-5' type='checkbox')
                            label(for='checkbox-5')
                                span.card_option__name Модернизация ККТ для работы с фискальным накопителем
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-6' type='checkbox')
                            label(for='checkbox-6')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-7' type='checkbox')
                            label(for='checkbox-7')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 120 руб.

                        .checkbox
                            input(id='checkbox-8' type='checkbox')
                            label(for='checkbox-8')
                                span.card_option__name Касса «Эватор»
                                span.card_option__price 8 100 020 руб.

                    .card_option__result.flex_column.align_end
                        .card_option__sum
                            div <b> Итого:</b> <span class='numer'></span> руб.
                        button(class='card_option__order' type='button') Заказать


                .tab_content__item
                    p | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

dist/card.html
<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title> НТПЦ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/concat-css-libs.min.css">
    <link rel="stylesheet" href="css/concat-css.min.css">
  </head>
  <body>
    <div class="overlay"></div>
    <div class="header header_catalog">
      <div class="container">
        <div class="header_top flex_row__between">
          <div class="flex_row__between"><a class="header_logo" href=""><img src="img/logo.png" alt=""></a>
            <div class="flex_column">
              <ul class="header_contact">
                <li><a class="link-spy" data-spy=".contact">Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»</a></li>
                <li><a href="mailto:office@3206161.ru">office@3206161.ru</a></li>
              </ul>
              <ul class="header_nav flex_row__start">
                <li><a class="link-spy" data-spy=".cash h2">Кассы</a></li>
                <li><a class="link-spy" data-spy=".step h2">Оплата</a></li>
                <li><a class="link-spy" data-spy=".contact">Доставка</a></li>
                <li><a class="link-spy" data-spy=".contact">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="header_call flex_column"><a href="tel:88123206161">8 (812) 320-61-61</a>
            <button class="btn inverted" type="button">Заказать звонок</button>
          </div>
        </div>
        <!--header_top__mob begin ========-->
        <div class="header_top header_top__mob flex_row__between">
          <button class="burger" type="button"><i></i></button>
          <div class="header_sidebar">
            <ul class="header_nav flex_row__between">
              <li><a class="link-spy" data-spy=".sanction">Штрафы</a></li>
              <li><a class="link-spy" data-spy=".suit">Для кого подойдет</a></li>
              <li><a class="link-spy" data-spy=".cash">Кассы</a></li>
              <li><a class="link-spy" data-spy=".step">Этапы работы</a></li>
              <li><a class="link-spy" data-spy=".contact">Контакты</a></li>
            </ul>
            <ul class="header_contact header_contact__mob">
              <li><a class="link-spy" data-spy=".contact">Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»</a></li>
              <li><a href="mailto:office@3206161.ru">office@3206161.ru</a></li>
            </ul>
            <div class="header_call header_call__mob flex_column"><a href="tel:88123206161">8 (812) 320-61-61</a>
              <button class="btn inverted" type="button">Заказать звонок</button>
            </div>
          </div><a class="header_logo" href=""><img src="img/logo.png" alt=""></a>
          <div class="header_call flex_column"><a href="tel:88123206161">8 (812) 320-61-61</a>
            <button class="btn inverted" type="button">Заказать звонок</button>
          </div>
        </div>
        <!--header_top__mob end ========-->
      </div>
    </div>
    <div class="catalog">
      <div class="container">
        <h1 class="catalog_title">Эватор</h1>
        <div class="crumbs"><a class="crumbs_item" href="index.html">Главная</a><span class="crumbs_arrow"></span><a class="crumbs_item" href="catalog.html">Кассовые аппараты</a><span class="crumbs_arrow"></span><a class="crumbs_item" href="">Эватор</a></div>
        <div class="divider-dashed"></div>
      </div>
    </div>
    <div class="catalog">
      <div class="container">
        <div class="catalog_content flex_row__between align_start">
          <div class="catalog_menu">
            <h2>Каталог</h2>
            <ul>
              <li><a href="">Кассовые аппараты</a></li>
              <li><a href="">Фискальные регистраторы</a></li>
              <li><a href="">Сканеры штрихкодов</a></li>
            </ul>
          </div>
          <div class="card">
            <div class="flex_row__between card_first">
              <div class="gallery">
                <div class="gallery_current"><img src="img/cash1.png"></div>
                <div class="gallery_set flex_row__between"><img class="active" src="img/cash1.png"><img src="img/cash2.png"><img src="img/cash3.png"></div>
              </div>
              <div class="brief">
                <h3>Цена кассы</h3>
                <div>
                  <button class="catalog_buy" type="button">8 120 руб.</button>
                </div>
                <h3>Цена кассы под ключ</h3>
                <div>
                  <button class="catalog_buy" type="button">16 120 руб.</button>
                </div>
                <div class="brief_popup">
                  <button class="brief_popup__open" type="button">Что входит?</button>
                  <div class="brief_popup__hidden">
                    <button class="brief_popup__close" type="button"></button>
                    <ul>
                      <li>- Касса</li>
                      <li>- Усиленная квалифицированная электронная подпись</li>
                      <li>- Лицензия CryptoPro CSP</li>
                      <li>- Etoken (сертифицированный носитель)</li>
                      <li>- Лицензия ОФД «Электронный Экспресс»</li>
                      <li>- Модернизация ККТ для работы с фискальным накопителем</li>
                      <li>- Комплекс работ по вводу в эксплуатацию ККТ</li>
                      <li>- Техническое сопровождение ЦТО в месяц/квартал</li>
                      <li>- Фискальный накопитель ФН-1</li>
                    </ul>
                  </div>
                </div>
                <p>Полная установка под ключ <b>дешевле</b>, чем услуги по отдельности</p>
              </div>
            </div>
            <div class="tab_wrap">
              <div class="tab_title">
                <div class="tab_title__item active">Услуги</div>
                <div class="tab_title__item">Описание</div>
              </div>
              <div class="tab_content">
                <div class="tab_content__item option active"><span class="card_option__title">Выберите свой вариант</span>
                  <div class="card_option">
                    <div class="checkbox">
                      <input id="checkbox-1" type="checkbox" checked disabled>
                      <label for="checkbox-1"><span class="card_option__name">Касса «Эватор»</span><span class="card_option__price">8 120 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-2" type="checkbox">
                      <label for="checkbox-2"><span class="card_option__name">Усиленная квалифицированная электронная подпись</span><span class="card_option__price">81 230 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-3" type="checkbox">
                      <label for="checkbox-3"><span class="card_option__name">Модернизация ККТ для работы с фискальным накопителем</span><span class="card_option__price">20 120 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-4" type="checkbox">
                      <label for="checkbox-4"><span class="card_option__name">Усиленная квалифицированная электронная подпись квалифицированная электронная подпись</span><span class="card_option__price">1 120 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-5" type="checkbox">
                      <label for="checkbox-5"><span class="card_option__name">Модернизация ККТ для работы с фискальным накопителем</span><span class="card_option__price">8 120 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-6" type="checkbox">
                      <label for="checkbox-6"><span class="card_option__name">Касса «Эватор»</span><span class="card_option__price">8 120 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-7" type="checkbox">
                      <label for="checkbox-7"><span class="card_option__name">Касса «Эватор»</span><span class="card_option__price">8 120 руб.</span></label>
                    </div>
                    <div class="checkbox">
                      <input id="checkbox-8" type="checkbox">
                      <label for="checkbox-8"><span class="card_option__name">Касса «Эватор»</span><span class="card_option__price">8 100 020 руб.</span></label>
                    </div>
                  </div>
                  <div class="card_option__result flex_column align_end">
                    <div class="card_option__sum">
                      <div><b> Итого:</b> <span class='numer'></span> руб.</div>
                    </div>
                    <button class="card_option__order" type="button">Заказать</button>
                  </div>
                </div>
                <div class="tab_content__item">
                  <p>| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog catalog_contact">
      <div class="container">
        <div class="flex_row__start">
          <div class="catalog_contact__logo"><img src="img/logo-footer.png" alt="лого компании, продающей кассовые аппараты."></div>
          <ul class="flex_column">
            <li>e-mail: <br> <a href='mailto:office@3206161.ru'>office@3206161.ru</a></li>
            <li>Адрес: <br> Санкт-Петербург, пр. Энгельса, д. 124, к. 1 ТРК «Вояж», пятый вход (дальний от метро), В этаж, офис 55-Н</li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/concat-js-libs.min.js"></script>
    <script src="js/common.min.js"></script>
    <script src="js/card.js"></script>
  </body>
</html>
