dist/catalog.html
<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title> НТПЦ</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="css/concat-css-libs.min.css">
    <link rel="stylesheet" href="css/concat-css.min.css">
  </head>
  <body>
    <div class="overlay"></div>
    <div class="header header_catalog">
      <div class="container">
        <div class="header_top flex_row__between">
          <div class="flex_row__between"><a class="header_logo" href=""><img src="img/logo.png" alt=""></a>
            <div class="flex_column">
              <ul class="header_contact">
                <li><a class="link-spy" data-spy=".contact">Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»</a></li>
                <li><a href="mailto:office@3206161.ru">office@3206161.ru</a></li>
              </ul>
              <ul class="header_nav flex_row__start">
                <li><a class="link-spy" data-spy=".cash h2">Кассы</a></li>
                <li><a class="link-spy" data-spy=".step h2">Оплата</a></li>
                <li><a class="link-spy" data-spy=".contact">Доставка</a></li>
                <li><a class="link-spy" data-spy=".contact">Контакты</a></li>
              </ul>
            </div>
          </div>
          <div class="header_call flex_column"><a href="tel:88123206161">8 (812) 320-61-61</a>
            <button class="btn inverted" type="button">Заказать звонок</button>
          </div>
        </div>
        <!--header_top__mob begin ========-->
        <div class="header_top header_top__mob flex_row__between">
          <button class="burger" type="button"><i></i></button>
          <div class="header_sidebar">
            <ul class="header_nav flex_row__between">
              <li><a class="link-spy" data-spy=".sanction">Штрафы</a></li>
              <li><a class="link-spy" data-spy=".suit">Для кого подойдет</a></li>
              <li><a class="link-spy" data-spy=".cash">Кассы</a></li>
              <li><a class="link-spy" data-spy=".step">Этапы работы</a></li>
              <li><a class="link-spy" data-spy=".contact">Контакты</a></li>
            </ul>
            <ul class="header_contact header_contact__mob">
              <li><a class="link-spy" data-spy=".contact">Санкт-Петербург, пр. Энгельса, д. 124, к 1. ТРК «Вояж»</a></li>
              <li><a href="mailto:office@3206161.ru">office@3206161.ru</a></li>
            </ul>
            <div class="header_call header_call__mob flex_column"><a href="tel:88123206161">8 (812) 320-61-61</a>
              <button class="btn inverted" type="button">Заказать звонок</button>
            </div>
          </div><a class="header_logo" href=""><img src="img/logo.png" alt=""></a>
          <div class="header_call flex_column"><a href="tel:88123206161">8 (812) 320-61-61</a>
            <button class="btn inverted" type="button">Заказать звонок</button>
          </div>
        </div>
        <!--header_top__mob end ========-->
      </div>
    </div>
    <div class="catalog">
      <div class="container">
        <h1 class="catalog_title">Эватор</h1>
        <div class="crumbs"><a class="crumbs_item" href="index.html">Главная</a><span class="crumbs_arrow"></span><a class="crumbs_item" href="catalog.html">Кассовые аппараты</a></div>
        <div class="divider-dashed"></div>
      </div>
    </div>
    <div class="catalog">
      <div class="container">
        <div class="catalog_content flex_row__between align_start">
          <div class="catalog_menu">
            <h2>Каталог</h2>
            <ul>
              <li><a href="">Кассовые аппараты</a></li>
              <li><a href="">Фискальные регистраторы</a></li>
              <li><a href="">Сканеры штрихкодов</a></li>
            </ul>
          </div>
          <div class="catalog_product flex_row__start">
            <div class="catalog_product__item flex_column align_center border-bottom"><a class="catalog_product__title item_part" href="">Эватор<img src="img/cash3.png"></a>
              <div class="item_part">
                <button class="catalog_buy" type="button">4 300 руб.</button><a class="catalog_product__more" href="">Подробнее</a>
              </div>
            </div>
            <div class="catalog_product__item flex_column align_center border-bottom"><a class="catalog_product__title item_part" href="">Эватор<img src="img/cash1.png"></a>
              <div class="item_part">
                <button class="catalog_buy" type="button">4 300 руб.</button><a class="catalog_product__more" href="">Подробнее</a>
              </div>
            </div>
            <div class="catalog_product__item flex_column align_center border-bottom"><a class="catalog_product__title item_part" href="">Эватор<img src="img/cash2.png"></a>
              <div class="item_part">
                <button class="catalog_buy" type="button">4 300 руб.</button><a class="catalog_product__more" href="">Подробнее</a>
              </div>
            </div>
            <!--.divider-dashed-->
            <div class="catalog_product__item flex_column align_center border-bottom"><a class="catalog_product__title item_part" href="">Эватор<img src="img/cash3.png"></a>
              <div class="item_part">
                <button class="catalog_buy" type="button">4 300 руб.</button><a class="catalog_product__more" href="">Подробнее</a>
              </div>
            </div>
            <div class="catalog_product__item flex_column align_center border-bottom"><a class="catalog_product__title item_part" href="">Эватор<img src="img/cash1.png"></a>
              <div class="item_part">
                <button class="catalog_buy" type="button">4 300 руб.</button><a class="catalog_product__more" href="">Подробнее</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="catalog catalog_contact">
      <div class="container">
        <div class="flex_row__start">
          <div class="catalog_contact__logo"><img src="img/logo-footer.png" alt="лого компании, продающей кассовые аппараты."></div>
          <ul class="flex_column">
            <li>e-mail: <br> <a href='mailto:office@3206161.ru'>office@3206161.ru</a></li>
            <li>Адрес: <br> Санкт-Петербург, пр. Энгельса, д. 124, к. 1 ТРК «Вояж», пятый вход (дальний от метро), В этаж, офис 55-Н</li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/concat-js-libs.min.js"></script>
    <script src="js/common.min.js"></script>
    <script src="js/catalog.js"></script>
  </body>
</html>

src/catalog.pug
extends  pug-components/catalog-layout

block crumbs
    .catalog
        .container
            h1.catalog_title Эватор
            .crumbs
                a(class='crumbs_item' href='index.html') Главная
                span.crumbs_arrow
                a(class='crumbs_item' href='catalog.html') Кассовые аппараты

            .divider-dashed

block catalog-content
    .catalog_product.flex_row__start

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash3.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash1.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash2.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        //.divider-dashed

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash3.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее

        .catalog_product__item.flex_column.align_center.border-bottom
            a(class='catalog_product__title item_part' href='') Эватор
                img(src='img/cash1.png')
            .item_part
                button(class='catalog_buy' type='button') 4 300 руб.
                a(class='catalog_product__more' href='') Подробнее
